* {
	margin: 0; padding: 0; border: 0; outline: none;
}

html, body {
	height: 100%;
}


/*

body {
	/*FIRAS: The following stretches the background image to cover the whole browser */
	background: url("img/full-background.jpg") no-repeat center center fixed;
        -webkit-background-size: cover; /*for webKit*/
        -moz-background-size: cover; /*Mozilla*/
        -o-background-size: cover; /*opera*/
        background-size: cover; /*generic*/
}*/

.list{
	display:none;
}

.container{
	padding: 20px;
	background: white;
	border: 1px solid #DDD;
	border-radius: 3px;
	border-top: 1px solid #EEE;
	opacity:0.95;
	filter:alpha(opacity=95);
	margin-bottom: 50px;
}

/*  ------------------------------------------------------------------ */
/* ----------------------------- HEADER ------------------------------ */
/*  ------------------------------------------------------------------ */

#logo {
	width: 232px;
	height: 40px;
	background: url(img/iae-logo.png) no-repeat left top;
	float: left;
	margin: 30px 0px;
}

/*  ------------------------------------------------------------------ */
/* ----------------------------- FORM -------------------------------- */
/*  ------------------------------------------------------------------ */

/*ul{
	list-style:none;
}
li {
	float: left;
	clear: right;
	display: inline-table;
}*/

.crSpan{
	float: left;
	clear: right;
	height: 35px;
	margin-left: 10px;
	color: #7293B4 ;
}
.recentEpDate {
	border-radius: 5px;
	border: 1px solid #F8E495;
	color: #B8950C;
	background: #FFFAE7;
	padding: 2px 5px;
	margin: 5px;
	float: left;
}


/*  ------------------------------------------------------------------ */
/* ----------------------------- FOOTER ------------------------------ */
/*  ------------------------------------------------------------------ */

#footer {
	/*margin: 20px auto;*/
	margin-top: -100px;
	clear: both;
	background: transparent;
	height: 100px;
	width: 100%;
	float: left;
	position: relative;
	color: white;
	text-shadow: 1px 1px 1px #999;
}

.footer_layersBox {
	width: 740px;
	height: 90px;
	padding: 10px 30px 0;
	font-size: 14px;
	margin: 0 auto;
	}

.footer_layer1 {
	width: 350px;
	border: none;
	text-align: left;
	float: left;
	clear: left;
	}
.footer_layer2 {
	width: 350px;
	border: none;
	text-align: left;
	float: left;
	clear: right;
}